[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=subnet-calc
Icon=harbour-subnet-calc
Exec=harbour-subnet-calc

[X-Sailjail]
OrganizationName=org.adekker
ApplicationName=subnet-calc
Permissions=
